<p id="notice"><%= notice %></p>

<p>
  <strong>Dummy text1:</strong>
  <%= @dummy_model.dummy_text1 %>
</p>

<p>
  <strong>Dummy text2:</strong>
  <%= @dummy_model.dummy_text2 %>
</p>

<p>
  <strong>Dummy text3:</strong>
  <%= @dummy_model.dummy_text3 %>
</p>

<%= link_to 'Edit', edit_dummy_model_path(@dummy_model) %> |
<%= link_to 'Back', dummy_models_path %>
